<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
    <body>
        {% for trip in trip_data %}
        <h1>Destination:{{trip.trip_name}}</h1>
        <a href="/logout">Logout</a>
        <a href="/">Home</a>
            <p>Planned by:{{trip.created_by}}</p>
            <p>Destination:{{trip.trip_name}}</p>
            <p>Description:{{trip.desc}}</p>
            <p>Date From:{{trip.start_month_day_year}}</p>
            <p>Date To:{{trip.end_month_day_year}}</p>
            <input type="submit" value='Add'>
        {% endfor %}
        </form>
    </body>
</html>