<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=., initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome!</h1>
    <h3>Registration</h3>
        <div name = 'register'>
            <form action='/register' method='POST'>
                {% csrf_token %}
                <p>Name:<input type="text" name="name" id="name"></label></p>
                <p>Username:<input type="text" name="username" id="username"></label></p>
                <p>Password:<input type="password" name="password" id="password"></label></p>
                <p>Confirm Password:<input type="password" name="confirmed_password" id="confirmed_password"></label></p>
                <p><input type="submit" value="Register"></p>
            </form>
        </div>
        <div name = 'login'>
            <h3>Login</h3>
            <form action='/login' method='POST'>
                {% csrf_token %}
                <p>Username:<input type='text' name='username' id='username'></label></p>
                <p>Password::<input type='password' name='password' id='password'></label></p>
                <p><input type='submit' value='Login'></p>
            </form>
        </div>
        {% if messages %}
        {% for message in messages %}
        <h3>{% if message.tags %} {% endif %}{{ message }}</h3>
        {% endfor %}
        {% endif %}   
</body>